<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Patient</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<div class="container">
    <hr>
    <h1>Patient Updated</h1>
    <hr>
    <form action="http://localhost:8080/" method="GET">
        
        <button type="submit" class="btn btn-primary">Home</button>
    </form>
</div>
</body>
</html>